exportPattern("^[[:alpha:]]+")
importFrom(spatstat,owin,inside.owin)
#importFrom(sp,sampleRandom)
importFrom(raster, extent,sampleRandom)
#importClassesFrom(adegenet,genind)
#importClassesFrom(sp,SpatialPixelsDataFrame)
#importClassesFrom(spatstat,ppp)
#tab.disjonctif.prop {FactoMineR} | inside-R | A Community ...
#dup.coords {geoR} | inside-R | A Community Site for R




#importFrom(spatstat,ppp,ripras,rotate,edges,plot.ppp,clickpoly,inside.owin,owin)
#importClassesFrom(spatstat,owin)
#tab.disjonctif.prop {FactoMineR} | inside-R | A Community ...
#dup.coords {geoR} | inside-R | A Community Site for R



